/*
## .nav-1
*/

.nav-1 {
  overflow: hidden;
  border-radius: 3px;
  &.is-close {
    height: 0;
  }
}

.nav-1__items {
  background-color: #181818;
}

.nav-1__item {
  border-top: dotted 1px #666;
  &:first-of-type {
    border-top: 0;
  }
  &:nth-of-type(odd) {
    background-color: #080808;
  }
  a {
    display: block;
    padding: 20px 28px;
    color: #777;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
