/*
_mixin.scss
*/

@mixin button-reset() {
  @include appearance(none);
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin select-reset() {
  @include appearance(none);
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  @include box-sizing(content-box);
  text-indent: 0.01px;
  text-overflow: "";
}

@mixin textIndent_9999{
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}